<% if @transaction.valid? %>
  $('.tg').html("<%= escape_javascript render 'table', transactions: Transaction.all %>")
<% else %>
  $('.errors').html("<div><%= @transaction.errors.full_messages.join(', ') %></div>")
<% end %>
